betty-ml==0.2.1
datasets
flash_attn
huggingface-hub==0.33.1
json5
numpy==2.2.6
pillow
scikit-image
scipy
tokenizers==0.21.2
torch==2.7.1
torchvision==0.22.1
transformers==4.53.0
wandb==0.20.1
accelerate==1.8.1
